	<WatchedResource>WEB-INF/web.xml</WatchedResource>
	<Resource
	   name="<%= scope.lookupvar('pidservice::resource_name') -%>"
	   auth="<%= scope.lookupvar('pidservice::resource_auth') -%>"
	   type="<%= scope.lookupvar('pidservice::resource_type') -%>"
	   driverClassName="<%= scope.lookupvar('pidservice::resource_driver_class_name') -%>"
	   url="<%= scope.lookupvar('pidservice::resource_url') -%>"
	   username="<%= scope.lookupvar('pidservice::resource_username') -%>"
	   password="<%= scope.lookupvar('pidservice::resource_password') -%>"
	   maxActive="<%= scope.lookupvar('pidservice::resource_max_active') -%>"
	   minIdle="<%= scope.lookupvar('pidservice::resource_min_idle') -%>"
	   maxIdle="<%= scope.lookupvar('pidservice::resource_max_idle') -%>"
	   maxWait="<%= scope.lookupvar('pidservice::resource_max_wait') -%>"
	   minEvictableIdleTimeMillis="<%= scope.lookupvar('pidservice::resource_min_evictable_idle_time_millis') -%>"
	   timeBetweenEvictionRunsMillis="<%= scope.lookupvar('pidservice::resource_time_between_eviction_runs_millis') -%>"
	   numTestsPerEvictionRun="<%= scope.lookupvar('pidservice::resource_num_tests_per_eviction_run') -%>"
	   poolPreparedStatements="<%= scope.lookupvar('pidservice::resource_pool_prepared_statements') -%>"
	   maxOpenPreparedStatements="<%= scope.lookupvar('pidservice::resource_max_open_prepared_statements') -%>"
	   testOnBorrow="<%= scope.lookupvar('pidservice::resource_test_on_borrow') -%>"
	   accessToUnderlyingConnectionAllowed="<%= scope.lookupvar('pidservice::resource_access_to_underlying_connection_allowed') -%>"
	   validationQuery="<%= scope.lookupvar('pidservice::resource_validation_query') -%>"
   />